.room-card {
	display: block;
	position: relative;
	height: rem(430);
	border-radius: rem(4);
	overflow: hidden;

	&--page {
		@media (max-width: em(700)) {
			max-width: rem(400);
			width: 100%;
		}
	}

	@include adaptiveValue('height', 430, 300);

	@media (any-hover: hover) {
		&:hover {
			.room-card__image {
				transform: scale(1.2);

				&--front {
					opacity: 0;
				}
			}
		}
	}
	// .room-card__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: -1;
		transition: all 0.3s ease-in-out;

		&--front {
			z-index: 5;
		}
		&--back {
			z-index: 4;
		}
	}
	// .room-card__content
	&__content {
		position: relative;
		min-height: rem(80);
		padding: rem(15) rem(15) rem(13) rem(30);
		color: $whiteColor;
		margin-top: rem(310);
		background-color: rgba(44, 54, 64, 0.4);
		text-transform: uppercase;
		z-index: 10;

		@include adaptiveValue('margin-top', 310, 200);
	}
	// .room-card__title
	&__title {
		position: relative;
		font-weight: 700;
		margin-bottom: rem(4);
		line-height: 120%;

		@include adaptiveValue('font-size', 20, 14);

		&::before,
		&::after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			height: 1px;
			background: $whiteColor;
		}

		&::before {
			margin-left: -102%;
			margin-right: 7px;
		}

		&::after {
			margin-right: -100%;
			margin-left: 7px;
		}
	}
	// .room-card__offer
	&__offer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .room-card__price
	&__price {
		font-weight: 300;
		line-height: 120%;

		@include adaptiveValue('font-size', 18, 12);
	}
	// .room-card__conditions
	&__conditions {
		text-align: right;
		line-height: 120%;

		@include adaptiveValue('font-size', 10, 8);
		@include adaptiveValue('max-width', 200, 150);
	}
}
.banner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $whiteColor;

	&::after {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		content: '';
		background-color: rgba(44, 54, 64, 0.8);
	}
	// .banner__title
	&__title {
		position: relative;
		z-index: 3;
		font-weight: 600;
		line-height: 120%;
		text-transform: uppercase;
		text-align: center;

		@include adaptiveValue('font-size', 32, 18);
		@include adaptiveValue('margin-bottom', 15, 10);
	}
	// .banner__text
	&__text {
		position: relative;
		z-index: 3;
		font-weight: 600;
		line-height: 150%;
		text-align: center;
		text-transform: uppercase;
		max-width: rem(220);
		margin: 0 auto;

		@include adaptiveValue('font-size', 20, 14);
	}
	// .banner__logo
	&__logo {
		position: absolute;
		right: 30px;
		bottom: 30px;
		z-index: 3;
		max-width: rem(75);
	}

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: -1;
	}
}
//========================================================================================================================================================

.slider-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(70);
	height: rem(20);
	background-color: $whiteColor;
	opacity: 0.6;
	transition: all 0.3s ease-in-out;

	svg path {
		fill: $mainColor;
		transition: fill 0.3s ease-in-out;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: $accentColor;
			opacity: 1;

			svg path {
				fill: $whiteColor;
			}
		}
	}
}
//========================================================================================================================================================
.map-block {
	// .map-block__container
	&__container {
		@media (max-width: $mobile) {
			padding: 0;
		}
	}
	// .map-block__map
	&__map {
	}
}

.map {
	height: 60vh;
	overflow: hidden;
	box-shadow: (0px 4px 6px rgba(0, 0, 0, 0.06));
	border-radius: rem(10);

	@include adaptiveValue('margin-top', 60, 40);
	@include adaptiveValue('margin-bottom', 60, 40);

	@media (max-width: 787px) {
		margin: 0 !important;
		box-shadow: none;
		border-radius: 0;
	}
}
[class*='copyright__wrap'] {
	display: none !important;
}
[class*='gototech'] {
	display: none !important;
}

[class*='ground-pane'] {
	filter: grayscale(1);
}
//========================================================================================================================================================
.page-header {
	position: relative;
	overflow: hidden;
	margin-top: rem(-160);

	@media (max-width: em(850)) {
		margin-top: rem(-60);
	}
	// .page-header__background
	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: -1;
		filter: brightness(0.4);
	}
	// .page-header__body
	&__body {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: rem(220);
		padding-bottom: rem(130);

		@media (max-width: em(850)) {
			padding-top: rem(150);
			padding-bottom: rem(100);
		}
	}
	// .page-header__title
	&__title {
		position: relative;
		font-weight: 700;
		line-height: 120%;
		text-transform: uppercase;
		color: $whiteColor;

		@include adaptiveValue('font-size', 44, 25);
		@include adaptiveValue('padding-bottom', 15, 10);

		&::before {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: rem(50);
			height: rem(1);
			content: '';
			background-color: $accentColor;
		}
	}

	&__description {
		font-weight: 300;
		line-height: 120%;
		text-align: center;
		text-transform: uppercase;
		color: $whiteColor;

		@include adaptiveValue('font-size', 18, 13);
		@include adaptiveValue('margin-top', 20, 10);
	}
}
.page-panel {
	// .page-panel__body
	&__body {
		display: flex;
		justify-content: center;
	}
	// .page-panel__panel
	&__panel {
		transform: translateY(-50%);
	}
}
//========================================================================================================================================================
.content {
	img {
		max-width: 100%;
	}

	h2 {
		font-weight: 600;
		line-height: 140%;
		text-transform: uppercase;

		@include adaptiveValue('font-size', 20, 14);
		@include adaptiveValue('margin-bottom', 20, 15);
	}
	strong {
		font-weight: 700;
	}

	p {
		font-weight: 300;
		line-height: 140%;

		@include adaptiveValue('font-size', 15, 12);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 15, 10);
		}

		a {
			color: $accentColor;
			border-bottom: 1px solid $accentColor;
			transition: all 0.5s ease-in-out;

			@media (any-hover: hover) {
				&:hover {
					color: $hoverColor;
					border-color: $hoverColor;
				}
			}
		}
	}

	ul {
		@include adaptiveValue('margin-bottom', 20, 15);
		li {
			position: relative;
			font-weight: 300;
			line-height: 140%;

			@include adaptiveValue('font-size', 15, 12);
			@include adaptiveValue('padding-left', 20, 15);

			&:not(:last-child) {
				@include adaptiveValue('margin-bottom', 10, 7);
			}

			&::before {
				position: absolute;
				left: 0;
				top: 8px;
				content: '';
				background-color: $accentColor;
				border-radius: 50%;

				@include adaptiveValue('width', 8, 5);
				@include adaptiveValue('height', 8, 5);
				@include adaptiveValue('top', 8, 6);
			}
		}

		a {
			color: $accentColor;
			border-bottom: 1px solid $accentColor;
			transition: all 0.5s ease-in-out;

			@media (any-hover: hover) {
				&:hover {
					color: $hoverColor;
					border-color: $hoverColor;
				}
			}
		}
	}

	ol {
		list-style: none;
		counter-reset: liCounter;

		@include adaptiveValue('margin-bottom', 20, 15);
		@include adaptiveValue('padding-left', 20, 15);

		li {
			position: relative;
			font-weight: 300;
			line-height: 140%;

			@include adaptiveValue('font-size', 15, 12);

			&:not(:last-child) {
				@include adaptiveValue('margin-bottom', 10, 7);
			}

			&::before {
				counter-increment: liCounter;
				content: counter(liCounter) '.';
				position: absolute;
				left: -20px;
				font-weight: 500;
				color: $accentColor;
				font-weight: 700;

				@include adaptiveValue('left', -20, -15);
			}
		}

		a {
			color: $accentColor;
			border-bottom: 1px solid $accentColor;
			transition: all 0.5s ease-in-out;

			@media (any-hover: hover) {
				&:hover {
					color: $hoverColor;
					border-color: $hoverColor;
				}
			}
		}
	}
}
//========================================================================================================================================================
.policy {
	// .policy__container
	&__container {
		max-width: rem(900);
	}
	// .policy__body
	&__body {
		margin-top: rem(60);
		@include adaptiveValue('margin-bottom', 60, 40);

		@media (max-width: em(850)) {
			margin-top: rem(90);
		}
	}
}
//========================================================================================================================================================
[class*='-ibg'] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
